<ul class="paintings__list">
  {% for painting in paintings %}
    <li class="painting__item">
      <article class="painting__preview">
        {% if painting.filename %}
        <a href="{{ painting.name | slugify }}/">
          {% image {src: painting.filename, alt: painting.name, className: "image", widths: [1200] } %}
        </a>
        {% endif %}
        {% set values = [painting.year, painting.size, painting.medium] %}
        <p class="painting__item__title">{{ painting.name }}</p>
        <p class="painting__item__details">{{ values | select('truthy') | join(', ') }}</p>
      </article>
    </li>
  {% endfor %}
  </ul>