* {
  margin: 0;
  padding: 0;
}

html {
  background-color: $bg-clr;
  color: $base-clr;
  font-family: $main-font;
  font-size: 50%;
  scroll-behavior: smooth;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  @include breakpoint-md {
    font-size: 62.5%;
  }
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 2.25rem;
  height: 100vh;
  line-height: 140%;
  min-width: 320px;
  margin: 0 1.5em 0 1.5em;

  @include breakpoint-md {
    font-size: 1.8rem;
  }

  footer {
    justify-self: flex-end;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $accent-font;
  line-height: 140%;
  margin: 0 0 0.7em 0;
}

h1 {
  font-size: 4rem;
}

a {
  color: $link-clr;
  transition: color 400ms;

  &:hover {
    color: $link-hvr-clr;
  }
}

p {
  max-width: 600px;
  + p {
    margin-top: 1.5rem;
  } 
}

nav {
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
}

main {
  flex: 1; /* Allow the main content to grow and take available space */
  display: flex;
  flex-direction: column;
  margin: 1em auto 2em auto; /* Center the main content vertically with 'auto' margin */

  &:not(nav) {
    ul {
      margin: 0.7em 0 0.7em 0; /* Adjust margin for consistency */
    }

    p {
      text-align: left; /* Left-justify the text within paragraphs */
    }
  }

  nav {
    span {
      font-size: 2.2rem;
      font-weight: 600;
    }
  }

  nav ul {
    margin: 0.2em 0 2em 0;
  }
}

header,
main,
footer {
  max-width: 1440px;
}

header,
footer {
  padding: 2em 0 .7em 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer span {
  font-weight: 600;
}

nav ul li {
  display: inline-block;
  font-size: 2rem;
  
  + li {
    margin-left: 1.2rem;
  }

  &.active a {
    font-weight: 600;
  }

  a {
    display: inline-block;
    text-decoration: underline;
    padding-bottom: 5px;
    transition: color 400ms;
  }
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.logo {
  font-family: $accent-font;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 1em;
}

.title-link {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit the color from the parent */
  transition: color 400ms;

  &:hover {
    color: inherit; /* Inherit the color on hover */
  }
}

img {
  width: 100%;
  height: auto;
}