@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@400;700&display=swap');

$main-font: 'verdana';
$accent-font: 'verdana';

/* Colours */
$light-shade: #ece6d9;
$dark-shade: #000000;
$darkest-shade: darken($dark-shade, 17%);
$accent-shade:#FF8C32;

/*========================================*/

$base-clr: $darkest-shade;
$bg-clr: lighten($light-shade, 7%);
$link-clr: $darkest-shade;
$link-hvr-clr: $accent-shade;
$cat-clr: $darkest-shade;


