---
layout: default
title: "About"
eleventyNavigation:
    key: about
    order: 3
---

<p>I paint the world around me from direct observation, intrigued by the contradictory perceptions of both overwhelm and order, and my urge to hold both of those feelings simultaneously. This aligns with how I often feel, as I go about my day. I love the repetition and unity of organic subjects, but also the endless variation—both chaotic and serene. To tame those elements into a cohesive composition delights and unnerves me and I am driven to transcribe natural patterns that make sense in two dimensions, distilling the essence of these patterns—with recurring geometry, color, and form.</p>

<p><hr/></p>

<p>Amanda Wolf graduated from Wesleyan University and has studied at the National Academy School of Fine Art, the Art Students League, the New York Studio School, the 92nd Street Y and the New York School of the Arts in NYC. Her paintings have been shown in several group exhibitions and are in private collections.</p>