---
layout: default
pagination:
  data: collections.categoryList
  size: 1
  alias: cat
permalink: "/works/{{ cat.key }}/"
eleventyComputed:
  title: Works categorized under "{{ cat.name }}"
---


<h1>{{ title }}</h1>

{% include "./_includes/components/categoryNav.njk" %}
{% set works = collections.categorisedPosts[cat.key] | reverse %}
{% include "./_includes/components/worksList.njk" %}