---
layout: default
pagination:
    data: oils
    size: 1
    alias: oil
permalink: "oils/{{ oil.name | slugify }}/"
eleventyComputed:
    title: "{{ oil.name }}"
---

{% set painting = oil %}
{% include "components/painting.njk" %}