---
layout: default
title: "Oils"
eleventyNavigation:
    key: oils
    order: 2
pagination:
  data: oils
  size: 100
---

<h1>{{ title }}</h1>

{% set paintings = pagination.items %}
{% include "components/paintingList.njk" %}