{# ---
layout: default
title: "Works"
eleventyNavigation:
    key: works
    order: 2
pagination:
  data: works
  size: 10
  alias: paintings
---

<h1>{{ title }}</h1>
{% include "./_includes/components/categoryNav.njk" %}
<p>This view contains a list of all works sorted from newest to oldest.</p>

{% include "./_includes/components/worksList.njk" %} #}